In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import warnings
from sklearn.preprocessing import FunctionTransformer, OneHotEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline, make_pipeline
from xgboost import XGBRegressor
import pickle
warnings.filterwarnings("ignore")

%matplotlib inline

In [2]:
with open('Flight_price_pred.pkl','rb') as file:
    model = pickle.load(file)

with open('ohe_encoder_airline.pkl','rb') as file:
    ohe_Airline  = pickle.load(file)

with open('ohe_encoder_destination.pkl','rb') as file:
    ohe_Destination = pickle.load(file)

with open('ohe_encoder_source.pkl','rb') as file:
    ohe_Source = pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)

In [3]:
input_data = pd.DataFrame({
    'Airline': ['IndiGo'],
    'Source': ['Banglore'],
    'Destination': ['New Delhi'],
    'Total_Stops': [0],
    'Journey_day': [1],
    'Journey_month': [5],
    'Dep_hour': [22],
    'Dep_min': [20],
    'Arrival_hour': [1],
    'Arrival_min': [10],
    'Duration_hours': [2],
    'Duration_mins': [50]
})

In [4]:
input_data

,Airline,Source,Destination,Total_Stops,Journey_day,Journey_month,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Duration_hours,Duration_mins
0,IndiGo,Banglore,New Delhi,0,1,5,22,20,1,10,2,50

In [5]:
encoded_airline = ohe_Airline.transform(input_data[['Airline']])
encoded_airline_df = pd.DataFrame(encoded_airline.toarray(), columns=ohe_Airline.get_feature_names_out(['Airline']))

In [6]:
input_data.reset_index(drop=True, inplace=True)
encoded_airline_df.reset_index(drop=True, inplace=True)
input_data = pd.concat([input_data.drop("Airline",axis=1), encoded_airline_df], axis=1)

In [16]:
ohe_Airline.categories_[0]

array(['Air Asia', 'Air India', 'GoAir', 'IndiGo', 'Jet Airways',
       'Jet Airways Business', 'Multiple carriers',
       'Multiple carriers Premium economy', 'SpiceJet', 'Trujet',
       'Vistara', 'Vistara Premium economy'], dtype=object)

In [17]:
ohe_Airline.get_feature_names_out(['Airline'])

array(['Airline_Air Asia', 'Airline_Air India', 'Airline_GoAir',
       'Airline_IndiGo', 'Airline_Jet Airways',
       'Airline_Jet Airways Business', 'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Trujet', 'Airline_Vistara',
       'Airline_Vistara Premium economy'], dtype=object)

In [7]:
#encoding source

In [8]:
encoded_source  = ohe_Source.transform(input_data[['Source']])
encoded_source_df = pd.DataFrame(encoded_source.toarray(), columns=ohe_Source.get_feature_names_out(['Source']))

In [9]:
input_data.reset_index(drop=True, inplace=True)
encoded_source_df.reset_index(drop=True, inplace=True)
input_data = pd.concat([input_data.drop('Source', axis=1), encoded_source_df], axis=1)

In [10]:
#encoding destination

In [11]:
encoded_destination  = ohe_Destination.transform(input_data[['Destination']])
encoded_destination_df = pd.DataFrame(encoded_destination.toarray(), columns=ohe_Destination.get_feature_names_out(['Destination']))

In [12]:
input_data.reset_index(drop=True, inplace=True)
encoded_destination_df.reset_index(drop=True, inplace=True)
input_data = pd.concat([input_data.drop('Destination',axis=1), encoded_destination_df], axis=1)

In [13]:
input_data.shape

(1, 32)

In [14]:
input_scaled=scaler.transform(input_data)
input_scaled

array([[-1.21878044, -1.47834407,  0.25869104,  1.66329344, -0.23426638,
        -1.81629826, -0.8903887 , -0.96052314,  1.29423904, -0.17870613,
        -0.43759151, -0.13916403,  2.0403094 , -0.74323761, -0.02678518,
        -0.35507242, -0.03458779, -0.29042775, -0.01093174, -0.22374703,
        -0.01893659,  1.95825881, -0.19348506, -0.84057484, -0.61560955,
        -0.27059916, -0.61560955, -0.84057484, -0.36754249, -0.27059916,
        -0.19348506,  3.22279297]])

In [15]:
prediction=model.predict(input_scaled)
prediction

array([9932.052], dtype=float32)